.navlink {
    color: whitesmoke;
    display: flex;
}

.navlink:hover {
    color: rgba(165, 42, 42, 0.7);
}

.active {
    color: brown;
}

.nav-icon{
    font-size: 20px;
    margin-right: 6px;
}

.navlink img{
    width: 20px;
    margin-right: 10px;
}